.inputCheckbox {}

.formBoxComplete {
    @include display();
    flex-wrap: nowrap;
    flex-direction: column;
}

.boxDate_name {
    @include display();
    flex-wrap: wrap
}

.boxDate {
    @include inputs();
    width: 24vw;
    margin-right: 1.5%;
}

.boxName {
    @include inputs();
    width: 57vw;
}

.txtInput {
    @include display();
    @include inputsText();
    font-family: $text_general;
    font-weight: 100;
    justify-content: flex-start;
}

input[type=text] {
    @include inputsText();
}

input[type=date] {
    @include inputsText();
}

textarea[type=text] {
    @include inputsText();
    color: black;
    height: 69%;
    width: 96%;
    padding: 2%;
}

.formBoxOne {
    @include display();
    background: rgba($color_principal, 0.4);
    border: 2px solid $color_principal;
    height: 12vh;
    width: 97vw;
    margin: 1%;
    position: relative;
}

.formBoxTwoCto {}

.boxConsulta {
    @include boxConsulta();
    @include inputsText();
    color: white;
}

.checkbox {
    position: absolute;
    right: 0%;
    bottom: 0%;
}

.formBoxTwoUsuario {}

.formBoxOneConsulta {
    @include formBoxOneConsulta();
    display: flex;
    justify-content: flex-end;
}

.formBoxTwoConsulta {
    @include formBoxTwoConsulta();
}

.boxConsulta2 {
    @include boxConsulta2();
}

.boxName2 {
    @include boxName2();
}