@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@100;700&display=swap');
// font-family: 'Monoton',cursive;
// font-family: 'Roboto',sans-serif;
$color_principal:#8E2F46;
$color_header1:#9DD8DB;
$color_headerBorder: #2C4050;
$color_inputs: #E5E5E5;
$text_principal: 'Monoton',
cursive;
$text_general: 'Roboto',
sans-serif;
@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btPrincipal {
    width: 100px;
    height: 30px;
    background: rgba(157, 216, 219, 0.7);
    border: 2px solid $color_principal;
    font-family: $text_general;
    color: $color_principal;
    font-weight: bold;
    margin: 5px;
}

@mixin btPrincipalTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

@mixin backgroundImage($imgSrc,
$repeat:no-repeat,
$size:cover) {
    background: {
        image: url($imgSrc);
        repeat: $repeat;
        size: $size;
    }
    height: 100vh;
}

@mixin buttonBack_Next {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background: rgba(157, 216, 219, 0.7);
    margin-right: 3%;
}

@mixin imgBtBack_Next {
    width: 50%;
    height: auto;
    filter: invert(100%);
}

@mixin buttonBack {
    transform: rotate(200grad);
    margin-left: 3%;
}

@mixin footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin btDelete() {
    width: 17px;
    height: 17px;
    background-color: $color_principal;
    border: none;
}

@mixin imgDelete {
    width: 10px;
    height: auto;
    filter: invert(100%);
}

@mixin inputs {
    background-color: $color_inputs;
    border: none;
    border-radius: 10px;
    height: 28px;
}

@mixin inputsText {
    font-size: 10px;
    padding-left: 2%;
    color: $color_principal;
}

body {
    margin: 0px;
}