.inputCheckbox {}

.formBoxComplete {
    @include display();
}

.boxDate_name {
    @include display();
    flex-wrap: wrap
}

.boxDate {
    @include inputs();
    width: 25vw;
    margin-right: 1.5%;
}

.boxName {
    @include inputs();
    width: 60vw;
}

.formBoxOne {
    @include display();
    background: rgba($color_principal, 0.4);
    border: 2px solid $color_principal;
    height: 12vh;
    width: 95vw;
    margin: 1%;
}

.formBoxTwoCto {}

.boxConsulta {
    width: 85vw;
    height: 6vh;
    background-color: transparent;
    border: none;
    margin-top: 2%;
}

.formBoxTwoUsuario {}

.formBoxOneConsulta {}

.formBoxTwoConsulta {}