.inputCheckbox {}

.formBoxComplete {
    @include display();
}

.boxDate_name {
    @include display();
    flex-wrap: wrap
}

.boxDate {
    @include inputs();
    width: 25vw;
    margin-right: 1.5%;
}

.boxName {
    @include inputs();
    width: 60vw;
}

.formBoxOne {
    @include display();
    background: rgba($color_principal, 0.4);
    border: 2px solid $color_principal;
    height: 12vh;
    width: 95vw;
    margin: 1%;
}

.formBoxTwoCto {}

.boxConsulta {
  @include boxConsulta();
}

.formBoxTwoUsuario {}

.formBoxOneConsulta {
  @include formBoxOneConsulta();
}

.formBoxTwoConsulta {
    @include formBoxTwoConsulta();
    }

.boxConsulta2{
    @include boxConsulta2();
   

}

.boxName2{
    @include boxName2();
    
}
 