.bodyUsuarioEdit {
    @include backgroundImage('../img/backgroundImg2.jpg');
}

.headerUsuarioEdit {
    @include display;
}

.containerUsuarioEdit {
    width: 100vw;
    height: 12vh;
    background-color: $color_header1;
    opacity: 40%;
    border: 2px solid $color_headerBorder;
    position: relative;
    z-index: 1;
}

.txtHeader {
    position: absolute;
    z-index: 2;
    font-family: $text_principal;
    font-weight: 100;
}

.imgDelete {
    @include imgDelete();
}