.bodyContainer {}

.mainContainerAllDate {
    overflow: scroll;
    height: 78vh;
}

.mainContainerSelectDate {}

.footerContainer {
    @include footerContainer();
    position: fixed;
    bottom: 0%;
    width: 100vw;
    height: 10vh;
}