@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:wght@100;700&display=swap');
// font-family: 'Monoton',cursive;
// font-family: 'Roboto',sans-serif;
$color_principal:#8E2F46;
$color_header1:#9DD8DB;
$color_headerBorder: #2C4050;
$text_principal: 'Monoton',cursive;


@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin backgroundImage($imgSrc,
$repeat:no-repeat,
$size:cover) {
    background: {
        image: url($imgSrc);
        repeat: $repeat;
        size: $size;
    }
    height: 100vh;
}

body {
    margin: 0px;
}
