//caja gde (con dos componentes)
//caja arriba
        //caja "azul"
            //caja nombre
            //caja fecha
    //X

//caja baja (consulta)


.buttonDelete {
    width:  ;
    height: ;
    background: ;

}

.buttonSetect{

}





.boxBig{

}

