.buttonDelete {
    @include btDelete();
    @include display();
    align-self: flex-start;
    justify-self: end;
}

.imgDelete {
    @include imgDelete();
}

.buttonsPrincipals {
    @include btPrincipal();
}

.btPrincipalTotal {
    @include btPrincipalTotal();
}

.buttonBack_Next {
    @include buttonBack_Next();
    @include display();
}

.buttonBack {
    @include buttonBack_Next();
    @include buttonBack();
    @include display();
}

.imgBtBack_Next {
    @include imgBtBack_Next();
}

.cto {
    @include display();
    background-color: $color_header1;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $color_headerBorder;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 2%;
    z-index: 1;
}

.imgCto {
    width: 90%;
    height: auto;
    filter: invert(100%);
}