.bodyContainer {}

.mainContainerAllDate {
    overflow: scroll;
    height: 85vh;
    scrollbar-width: none;
}

.mainContainerAllDate::-webkit-scrollbar {
    display: none;
}

.footerContainer {
    @include footerContainer();
    position: fixed;
    justify-content: center;
    bottom: 0%;
    width: 100vw;
    height: 10vh;
}

.mainContainerSelectDate {
    @include display();
    flex-direction: column;
}